plugins/
.repo.git/
.land-worktree/

# Dolt database files (added by bd init)
.dolt/
*.db
.worktrees/parallel-agents/bu-z2g0/
.worktrees/parallel-agents/bu-um75.1/

# Healing worktrees (created by self-healing dispatcher)
.healing-worktrees/
# bd worktree
.worktrees/parallel-agents/bu-z38xe/
